.vs/

[Bb]in/
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]64/

*.obj
*.o
*.pdb
*.idb
*.ilk
*.ipch
*.pch
*.lib
*.exp
*.tlog
*.lastbuildstate
*.recipe
*.tmp
*.log

*.suo
*.user
*.userosscache
*.VC.db
*.VC.opendb
*.vsidx

host.err
host.log
guest.err
guest.log
server.err
server.log
